:root {
  /* Primary */
  /* Text */
  --dark-gunmetal: #1d1e35;
  --coral: #F47C57;
  /* Gradient */
  /* Background gradient: */
  --rich-lilac: #AF67E9;
  --medium-slate-blue: #6565e7;
  /* Neutral */
  /* Text */
  --independence: #4a4b5e;
  --gray: #787887;
  /* Dividers */
  --platinum: #e7e7e9;
}
body {
  font-size: 12px; 
  font-family: 'Kumbh Sans Regular';
  font-weight: 500;
}
/* Family */
/* 
'Kumbh Sans Regular';
'Kumbh Sans Bold'; 
*/

/* Weights: 500, 700, 800 */


.main {
  background: linear-gradient(var(--rich-lilac), var(--medium-slate-blue));
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  text-align: center;

}

/* Accordion */

.accordion {
  cursor: pointer;
  text-align: left;
}

.accordion span {
  float: right;
}

.active, .accordion:hover {
  font-family: 'Kumbh Sans Bold';
  font-weight: 800;
}

.faq-card {
  border-radius: 20px;
  width: 85%;
  margin: 0 auto;
  background-color: var(--platinum);
}

.faq-card h1 {
  font-family: 'Kumbh Sans Bold';
  font-weight: 800;
  font-size: 32px;
}

.faq-card ul {
  padding: 30px;
}

.faq-card ul li {
  font-size: 14px;
  padding: 15px 0;
}

.panel {
  display: none;
  padding: 0 20px;
  line-height: 20px;
}

.li-border-bottom {
  border-bottom: 1px solid var(--independence);
  padding: 0!important;
  margin: 0!important;
}

.desk-icon {
  width: 300px;
  height: auto;
  margin-top: -135px;
}

.desk-icon-shadow {
  width: 300px;
  margin-top: -100px;
  padding-bottom: 30px;
}

.verse-icon {
  display: block;
}

.reverse-icon {
  transform: rotate(180deg);
  display: none;
}

